<canvas id="myChart" width="400" height="400"></canvas>
<canvas id="timeChart" width="400" height="100"></canvas>
<script src="/jquery/dist/jquery.min.js"></script>
<script src="/underscore/underscore-min.js"></script>
<script src="/chart.js/dist/Chart.min.js"></script>
<script src="/js/index.js"></script>
